<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.maps.MAIN">MAPS</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC MAP -->
<div map-lazy-load="https://maps.google.com/maps/api/js">
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <h5 class="over-title margin-bottom-15">Basic <span class="text-bold">Map</span></h5>

                        <div ng-controller="mapsCtrl as aurinCtrl">
                            <ng-map zoom="10" center="-37.8141, 144.9633">
                                <map-data on-click="vm.onClick()"
                                          set-style="{fillColor: 'red', strokeWeight: 1}"
                                          load-geo-json="assets/fixtures/sa2-data-geom.json">
                                </map-data>
                            </ng-map>
                            {{vm.geoType}} : {{vm.regionName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
